.progress-bar {
    height: 10px;
    width: 0%;
    background: linear-gradient(to right, purple, brown); /* Use a linear gradient */
    position: absolute;
    left: 25%;
    top: 82.5%;
    border-radius: 16px; /* Set the border radius to control corner softness */
    transition: width 1.5s ease; /* Add a transition for a smooth effect */
    transition: opacity 1s ease; /* Add a transition for a smooth effect */
}
