@import "normalize.css/normalize.css";

body {
    margin: 0;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: linear-gradient(to right, #000000 100%, black 100%);
}

html,
body,
#root {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
}

#root {
    justify-content: center;
}

input,
textarea {
    user-select: auto;
    font-size: 16px;
}

* {
    letter-spacing: 0.01em;
    box-sizing: border-box;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

#burning-canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    width: 100%;
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

.dg.ac {
    z-index: 99 !important;
}

@font-face {
    font-family: "Khand";
    font-weight: bold;
    font-style: normal;
    src:
        local("Khand-Bold"),
        local("Khand-Bold"),
        url(./fonts/Khand-Bold.woff2) format("woff2");
}

@font-face {
    font-family: "Khand";
    font-weight: normal;
    font-style: normal;
    src:
        local("Khand-Regular"),
        local("Khand-Regular"),
        url(./fonts/Khand-Regular.woff2) format("woff2");
}

@font-face {
    font-family: "Rubik-Regular";
    font-weight: normal;
    font-style: normal;
    src:
        local("Rubik-Regular"),
        local("Rubik-Regular"),
        url(./fonts/Rubik-Regular.woff2) format("woff2");
}
